@model EMAIL_MARKETING_THESIS_PROJECT.Views.ViewModels.Campaigns.CreateCampaignViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Campaign", FormMethod.Post))
{
    <div class="container">
        <h4>Create a Campaign</h4>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-lg form-group">
                        <label id="step1">Title:</label>
                        @Html.TextBoxFor(m => m.Campaign.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Campaign.Title)
                    </div>

                    <div class="well well-lg form-group">
                        <label id="step2">Mailing lists:</label>
                        @Html.DropDownListFor(m => m.SelectedMailingListId, Model.GetMailingListItems(), new { @class = "form-control" })
                    </div>

                    <div class="well well-lg form-group">
                        <div class="form-group" id="step3">
                            <label>Template lists:</label>
                            @Html.DropDownListFor(m => m.SelectedTemplateId, Model.GetTemplateItems(), new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="well well-lg">
                        <div class="form-group">
                            <h5 id="step4">Set Email Information</h5>
                            @Html.TextBoxFor(m => m.Campaign.EmailInfo.Sender, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Campaign.EmailInfo.Sender)
                        </div>

                        <div class="form-group">
                            <label>Name:</label>
                            @Html.TextBoxFor(m => m.Campaign.EmailInfo.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Campaign.EmailInfo.Name)
                        </div>

                        <div class="form-group">
                            <label>Subject line:</label>
                            @Html.TextBoxFor(m => m.Campaign.EmailInfo.Subject, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Campaign.EmailInfo.Subject)
                        </div>
                    </div>
                </div>
            </div>
            <div class="well well-lg form-group">
                <h5 id="step5">Sending the campaign</h5>

                <div class="form-group">
                    <div class="form-check col-md-3">
                        @Html.CheckBoxFor(m => m.Campaign.Scheduler.IsSendNow) Sent Now
                    </div>
                    <br />
                    <div class="col-md-3">
                        @*<div class="input-group">
                                @Html.TextBoxFor(m => m.Campaign.Scheduler.SendOn, new { @class = "form-control" })
                                &nbsp;<span class="input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true" data-date-format="dd-mm-yyyy"></i>
                                </span> ;
                            </div>*@
                        <input asp-for="Campaign.Scheduler.SendOn" id="datepicker" class="form-control" type="date" data-date="" data-date-format="DD MMMM YYYY" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <a class="btn btn-info btn-sm" asp-action="Index"><i class="fa fa-arrow-left"></i>&nbsp;Back to List</a>

            <button class="btn btn-info btn-sm " type="submit"><i class="fa fa-plus"></i>&nbsp;Create</button>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4',
            dateFormat: 'dd-mm-yyyy'
        });

        $('#Campaign_Scheduler_IsSendNow').on('click', function () {
            if ($(this).is(':checked')) {
                $('#datepicker').attr('disabled', true);
            } else {
                $('#datepicker').attr('disabled', false);
            }
        });
    });
   
</script>