@model EMAIL_MARKETING_THESIS_PROJECT.Views.ViewModels.Campaigns.CreateCampaignViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Campaign", FormMethod.Post))
{
    <div class="container">
        <h4>Create a Campaign</h4>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h5 class="display-5">Step 1: Campaign Information</h5>
                        <hr class="my-4">
                        <div class="form-group">
                            <label id="step1">Title of Campaign:</label>
                            @Html.TextBoxFor(m => m.Campaign.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Campaign.Title)
                        </div>

                        <div class="form-group">
                            <label>Sender Email Address:</label>
                            @Html.TextBoxFor(m => m.Campaign.EmailInfo.Sender, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Campaign.EmailInfo.Sender)
                        </div>

                        <div class="form-group">
                            <label>Sender Name:</label>
                            @Html.TextBoxFor(m => m.Campaign.EmailInfo.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Campaign.EmailInfo.Name)
                        </div>

                        <div class="form-group">
                            <label>Email Subject Line:</label>
                            @Html.TextBoxFor(m => m.Campaign.EmailInfo.Subject, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Campaign.EmailInfo.Subject)
                        </div>

                        <div class="form-group">
                            <label>Mailing Lists:</label>
                            <select asp-for="SelectedMailingListId" class="form-control">
                                <option value="" selected="selected">Select an option...</option>
                                @foreach (var ml in Model.MailingLists)
                                {
                                    <optgroup label="@ml.Title">
                                        @foreach (var segment in ml.Segments)
                                        {
                                            <option value="@segment.Id">@segment.Name</option>
                                        }
                                    </optgroup>
                                }
                            </select>
                            <a asp-action="Create" asp-controller="MailingList">New Mailing List...</a>
                        </div>
                    </div>

                    <div class="jumbotron">
                        <h5 class="display-5">Step 2: Message Content</h5>
                        <hr class="my-4">

                        <div class="form-group">
                            <label>Message Content:</label>
                            @Html.DropDownListFor(m => m.SelectedTemplateId, Model.GetTemplateItems(), new { @class = "form-control" })
                            <a asp-action="Create" asp-controller="Template">New Template...</a>
                        </div>
                    </div>

                    <div class="jumbotron">
                        <h5 class="display-5">Step 3: Campaign Schedule</h5>
                        <hr class="my-4">

                        <div class="form-group">
                            <div class="form-check col-md-3">
                                @Html.CheckBoxFor(m => m.Campaign.Scheduler.IsSendNow) Sent Now
                            </div>
                            <br />
                            <div class="col-md-3">
                                <label>Send On:</label>
                                <input asp-for="Campaign.Scheduler.SendOn" id="datepicker" class="form-control" type="date" data-date="" data-date-format="DD MMMM YYYY" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <a class="btn btn-info btn-sm" asp-action="Index"><i class="fa fa-arrow-left"></i>&nbsp;Back to List</a>

                <button class="btn btn-info btn-sm" type="submit"><i class="fa fa-plus"></i>&nbsp;Create</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4',
            dateFormat: 'dd-mm-yyyy'
        });

        $('#Campaign_Scheduler_IsSendNow').on('click', function () {
            if ($(this).is(':checked')) {
                $('#datepicker').attr('disabled', true);
            } else {
                $('#datepicker').attr('disabled', false);
            }
        });
    });
</script>