@model EMAIL_MARKETING_THESIS_PROJECT.Models.Campaigns.Campaign

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>

    <div class="row">
        <div class="col-md-4">By mailing list:</div>
        <div class="col-md-8">@Model.MailingList.Title</div>
    </div>
    <div class="row">
        <div class="col-md-4">Sender Email Address</div>
        <div class="col-md-8">@Model.EmailInfo.Sender</div>
    </div>
    <div class="row">
        <div class="col-md-4">Sender name:</div>
        <div class="col-md-8">@Model.EmailInfo.Name</div>
    </div>
    <div class="row">
        <div class="col-md-4">Send date:</div>
        <div class="col-md-8">@Model.Scheduler.SendOn</div>
    </div>
    <div class="row">
        <div class="col-md-4">Subject line:</div>
        <div class="col-md-8">@Model.EmailInfo.Subject</div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>