@using System.IO
@model EMAIL_MARKETING_THESIS_PROJECT.Models.Campaigns.Campaign

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well well-lg">
    <h4>@Model.Title</h4>
    <hr />
    <br />
    <div class="row">
        <div class="col-md-4"><label>By Mailing List:</label></div>
        <a asp-controller="MailingList" asp-action="Details" asp-route-id="@Model.MailingList.Id">@Model.MailingList.Title</a>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4"><label>Sender Email Address:</label></div>
        <div class="col-md-8">@Model.EmailInfo.Sender</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4"><label>Sender Name:</label></div>
        <div class="col-md-8">@Model.EmailInfo.Name</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4"><label>Send Date:</label></div>
        <div class="col-md-8">@Model.Scheduler.SendOn</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4"><label>Subject Line:</label></div>
        <div class="col-md-8">@Model.EmailInfo.Subject</div>
    </div>
</div>
<div>
    <a class="btn btn-info btn-sm" asp-action="Resent" asp-route-id="@Model.Id"><i class="fa fa-envelope"></i>&nbsp;Resent Emails</a>
    <a class="btn btn-info btn-sm" asp-action="Index"><i class="fa fa-arrow-left"></i>&nbsp;Back to List</a>
</div>