@model IEnumerable<EMAIL_MARKETING_THESIS_PROJECT.Models.Campaigns.MailingList>

@{
    ViewData["Title"] = "GetMailingLists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <button type="button" class="btn btn-info" asp-action="Create" asp-controller="MailingList">New Mailing List</button>
</div>

<br />

<table class="table">
    <thead class="thead-dark">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Title)
            </td>
            <td>No. of contacts</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.Title)
                </th>
                <td>
                    @item.SubscribersLink.Count()
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-controller="MailingList" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a class="btn btn-info" asp-action="Details" asp-controller="MailingList" asp-route-id="@item.Id"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                    <a class="btn btn-info" asp-action="Delete" asp-controller="MailingList" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>